@import "../../../../assets/style/colors";
@import "../../../../assets/style/mixins";
.input-group {
  position: relative;
  width: 100%;
}

input {
  padding-left: 15px;
  padding-bottom: 5px;
  font-family: "Avenir";
  background-color: #fff;
  padding-left: 30px;
  border-radius: 27px;
  width: 90%;
  border: 1px solid #C7CDCE;
  border-left: none;
  margin-top:30px !important;
  height: 60px;
}

input:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #C7CDCE;
}
mat-select {
  height:60px;
  background-color: #fff;
  border-bottom-left-radius: 27px;
  border-top-left-radius: 27px;
  padding: 15px;
  border: 1px solid #C7CDCE;
  padding-left: 30px;
    padding-top: 20px;
}

.phone-error {
  margin-left: 28px;
  margin-bottom: -45px !important;
  margin-top: 20px !important;
}
:host ::ng-deep {
  .mat-select-min-line {
    font-size: 14px;
  }
  .mat-option-text {
    font-size: 14px;
  }
}

::ng-deep .mat-error {
  transform: translateY(-100%) !important;
  margin-left: 1.68em;
}
::ng-deep .mat-form-field-flex {
  padding-right: 0px !important;
}

.invalid {
  border: 2px solid #bf264e;
}

@include tab-size() {
  mat-select{
    margin-top: 3px;
  }
  input {
    margin-top: 33px !important;
    height:60px !important;
  }
  .input-group {
    width: 100%;
  }
  mat-select.invalid {
    height: 60px !important;
    
  }

  .phone-error {
    margin-left: 32px;
  }
}

@include mobile-size() {
  input {
    margin-top: 30px !important;
    height: 60px !important;
    padding-bottom: 0px !important;
  }
  .input-group-prepend {
    width: 38%;
  }
  .input-group {
    width:100%;
  }

  .phone-error {
    margin-left: 29px;
  }
}
