@import "../../../../assets/style/colors";
@import "../../../../assets/style/mixins";



// selected item color
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: gray;
}

.hide-pannel {
  display: none;
}

::ng-deep .mat-form-field {
  display: block !important;
}

::ng-deep .mat-select-panel {
  background-color: white;
  border: 1px #C7CDCE  solid;
  border-radius: 30px !important;
}
::ng-deep .mat-option {
  padding-top: 10px;

}
::ng-deep .mat-select-arrow-wrapper {
  margin-top: 25px;
}

mat-select {
  padding-left: 15px;
  padding-bottom: 5px;
  font-family: "Avenir";
  background-color: #fff;
  padding: 15px;
  padding-left: 30px;
  padding-top: 20px;
  border-radius: 27px;
  height: 60px;
  width: 100%;
  border: 1px solid #C7CDCE;
}
.invalid {
  border: 2px solid #bf264e;
}
@include tab-size() {
  mat-select {
    height: 55px;
  }
}

@include mobile-size() {
  mat-select {
    height: 52px;
  }
  ::ng-deep .mat-select-arrow-wrapper {
    margin-top: 20px;
  }
  
}
