@import "./../../../../assets/style/mixin";
@import "./../../../../assets/style/colors";
textarea {
  background-color: white;
  border-radius: 10px;
  padding: 20px !important;
  box-shadow: 0px 0px 15px 4px rgb(0 0 0 / 3%);
}
.remaining-words {
  margin-top: 15px;
  font-size: 18px;
  margin-left: 15px;
}

.label {
  /* WebKit, Blink, Edge */
  color: #d0c9d6;
  margin-bottom: 10px !important;
}
.pl-30 {
  padding-left: 30px;
}
@include tab-size() {
  .remaining-words {
    margin-top: 12px;
    font-size: 15px;
  }
}
@include mobile-size() {
  .remaining-words {
    margin-top: 12px;
    font-size: 15px;
  }
}
