@import "../../../../assets/style/mixins";

::ng-deep .mat-form-field {
  width: 100%;
  max-width: 100%;
}

.input {
  padding-left: 15px;
  padding-bottom: 5px;
  font-family: "Avenir";
  background-color: #fff;
  padding: 15px;
  padding-left: 30px;
  border-radius: 27px;
 border: 1px solid #C7CDCE;
  width: 100%;
  height: 60px;
}
.invalid {
  border: 2px solid #bf264e;
}


.input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #d0c9d6;
}
.input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d0c9d6;
  opacity: 1;
}
.input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d0c9d6;
  opacity: 1;
}
.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d0c9d6;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep  .mat-input-element{
box-sizing: inherit !important;
}
@include tab-size() {
  .input {
    height: 55px;
  }
}

@include mobile-size() {
  .input {
    height: 52px;
  }
}