<div fxLayout="column" fxLayoutAlign="center stretch">
  <mat-form-field
    [formGroup]="group"
    [appearance]="'fill'"
    [ngClass]="{ 'field-ready': group?.get(name)?.touched }"
  >
    <mat-icon
      *ngIf="!hasSuffix && (icon || svgIcon)"
      matPrefix
      [svgIcon]="svgIcon"
      >{{ icon }}</mat-icon
    >

    <input
      (paste)="onPaste($event)"
      fxFlex.xs="100"
      fxFlex.gt-sm="nogrow"
      matInput
      [name]="name"
      [formControl]="group.controls[name]"
      [placeholder]="label"
      [required]="required"
      [maxlength]="maxLength"
      type="text"
      autocomplete="off"
      (keyup)="onKeyUp($event)"
      (keydown)="onKeyDown($event)"
      class="input"
      [ngClass]="{
        invalid:
          (group?.get(name)?.touched &&
            required &&
            group.get(name).hasError('required')) ||
          (group?.get(name)?.touched &&
            required &&
            group.get(name).hasError('email')) ||
          (group?.get(name)?.touched &&
            required &&
            group.get(name).hasError('pattern'))
      }"
    />

    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-error
      *ngIf="group.get(name).hasError('pattern') && group.get(name).touched"
    >
      {{ patternErrorMessage ? patternErrorMessage : "Invalid Email" }}
    </mat-error>

    <mat-error
      *ngIf="
        group.get(name).hasError('required') &&
        requiredErrorMessage &&
        group.get(name).touched
      "
    >
      {{ requiredErrorMessage }}
    </mat-error>
    <mat-error
      *ngIf="
        !group.get(name).hasError('pattern') &&
        group.get(name).hasError('maxlength')
      "
    >
      Field can be maximum {{ maxLengthNumber }} characters long
    </mat-error>
  </mat-form-field>
</div>
