.mat-input-element {
  padding-left: 15px;
  padding-bottom: 5px;
  font-family: "Avenir";
  background-color: #fff;
  padding: 15px;
  padding-left: 30px;
  border-radius: 27px;
  border: 1px solid #C7CDCE;
  height: 60px;
}
.invalid {
  border: 2px solid #bf264e;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  background-color: #fff;
  border: 1px #C7CDCE  solid;
  border-radius: 30px !important;
}
.input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #d0c9d6;
}
.input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d0c9d6;
  opacity: 1;
}
.input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d0c9d6;
  opacity: 1;
}
.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d0c9d6;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.disabled {
  input {
    background-color: #eeeeee !important;
    color: #bababa !important;
    border: 2px solid #bababa !important;
  }
}
